<% unless signed_in? %>
  <div class="center hero-unit">
    <h1>Welcome to Brand-o-meter</h1>

    <h2>
      Join us on our quest to find out what people really think about brands!
    </h2>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>
<% end %>
<div class="row">
  <div class="span4">
    Tag!
  </div>
  <div class="span4">
    Rate!
  </div>
  <div class="span4">
    Battle!
  </div>
</div>

