- if object.errors.any?
  #error_explanation
    .alert.alert-error
      = t('layouts.errors.form_contains', count: object.errors.count)
    %ul
      - object.errors.full_messages.each do |msg|
        %li= msg
