@import "bootstrap";
@import "font-awesome";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin border_radius($radius) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -o-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.dropdown-menu span {
  display: block;
  padding: 3px 15px;
  clear: both;
  line-height: 18px;
  color: $grayLight;
  white-space: nowrap;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

.btn-primary {
  margin-bottom: 5px;
}

.checkbox-group {
  margin-bottom: 15px;
}

select {
  &.dateofbirth, &.gender, &.authlevel {
    width: auto;
  }
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

/* home page */
.action-box {
  a {
    font-weight: bold;
    letter-spacing: -1px;
    background-color: $grayLighter;
    padding: 10px 0 20px 0;
    @include border_radius(5px);

    .icon-holder {
      color: $grayLight;
      width: 100%;
      text-align: center;

      i {
        font-size: 10em;
        display: block;
        line-height: 0.9em;
      }
    }
  }

  .action {
    display: block;
    font-size: 2em;
    width: 100%;
    line-height: normal;
    text-align: center;
  }

  a {
    display: block;
    text-decoration: none;
  }
}

/* brands */

.brand-container {
  h2 {
    color: $gray;
    margin-bottom: 0;
  }
  p {
    text-align: center;
    color: $grayLight;
    margin: 0 auto 15px auto;
  }
  form.new_tag {
    text-align: center;

    input[type=text] {
      width: 300px;
    }

    button.discourage, input.discourage {
      color: $grayLight;
    }
  }

  .logotype-container {
    width: 940px;
    height: 150px;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 20px;

    img.brand-logotype {
      margin: 0 auto;
    }
  }
}

.tag-cloud {
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  width: 480px;

  span {
    margin-right: 5px;
    white-space: nowrap;
  }
}

img.brand-logotype {
  display: block;
  margin: 50px auto 50px auto;
}

/* utilities */

.nowrap {
  white-space: nowrap;
}

/* media queries */




